
@using Sitecore.Mvc
@using Sitecore.Web
@using Sitecore.Web.Services

<head></head>
<body>
    <div>
        @Html.Sitecore().Placeholder("Head")
    </div>
    <div>
        @Html.Sitecore().Placeholder("Cont")
    </div>
    <div>
        @Html.Sitecore().Placeholder("Foot")
    </div>
</body>